html,body{
  height: 100%;
}

a{
  color: #666;
}
img{
  display: block;
  width: 100%;
}
h1,h2,h3,h4,h5,h6,h7,p{
  margin: 0;
  padding: 0;
}
p{
  color: #fff;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 大容器 */
.lt_container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
  position: relative;
  padding-top: 45px;
  padding-bottom: 55px;
  overflow: hidden;
}
/* 头部 */
.lt_header{
  height: 45px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #006699;
  padding: 0 45px;
}

.lt_header .icon_left,
.lt_header .icon_right{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  text-align: center;
  line-height: 45px;
  color: #fff;
}

.lt_header .icon_left{
  left: 0;
}
.lt_header .icon_right{
  right: 0;
}
.lt_header h3{
  font-weight: 400;
  color: #fff;
  line-height: 45px;
  font-size: 20px;
  text-align: center;
}
/* 底部 */
.lt_footer{
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #006699;
}
.lt_footer ul{
  height: 100%;
  overflow: hidden;
}
.lt_footer>ul>li{
  width: 25%;
  height: 100%;
  float: left;
}
.lt_footer>ul>li>a{
  text-align: center;
  display: block;
  padding-top: 8px;
  color: #fff;
}
.lt_footer>ul>li>a.current{
  color: orange;
}
.lt_footer>ul>li>a.current p{
  color: orange;
}
/* 主体区域 也就是滚动区域 */
.lt_main{
  width: 100%;
  height: 100%;
  position: relative;
}
/* 搜索区域 */
.lt_search{
  padding: 10px;
  position: relative;
}
.lt_search input{
  border-radius: 10px;
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  border: 1px solid #007AFF;
  margin-bottom: 0;
}
.lt_search button{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 10px 10px 0;
}
/* 产品区域 */
.lt_product{
  padding: 10px;
  background-color: #fff;
}
.lt_product li{
  width: 48%;
  border: 1px solid #ccc;
  text-align: center;
  float: left;
  margin-bottom: 4%;
}
.lt_product li:nth-child(odd){
  margin-right: 4%;
}
.lt_product li a {
  display: block;
  padding: 10px;
}
.lt_product li a p{
  color: #8f8f94;
  margin-bottom: 10px;
}
.lt_product li a p .price{
  color: red;
}
.lt_product li a p .oldPrice{
  text-decoration: line-through;
}